*{
  margin:0;padding: 0
}
body, html {
    height: 100%;
}
body{
  background-color: #B9D194;
}
a{
  text-decoration: none;
  color:#fff
}
.content{
  text-align: left;
  min-height: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 50px 50px 50px
}
.icon_demo{
  padding: 13px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 50px;
  box-sizing: border-box;
}
.all{
  font-size: 18px;
  font-family: georgia;
  color:#fff;
  padding: 10px;
  font-weight: bold;
}
#total{
  font-size: 44px;
}
.title{
  font-size: 18px;
  font-family: georgia;
  color:#fff;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}
#choose{
  display: none;
}
#chooseName{
  font-size: 24px;
  padding: 10px;
  background-color: #504545
}
.github{
  font-size: 24px;
  font-family: georgia;
  padding: 10px;
  background-color: #504545;
  text-decoration: none;
  color:#fff
}
.code{
  color:#fff;
  font-family: georgia;
  padding: 10px;
  background-color: #099fde;
  font-size:20px;
  line-height: 25px
}
code{
  padding: 0 10px
}
a code:hover{
  color:#333 ;
  font-weight: bold;
}
